
@font-face {
    font-family: 'opensans';
    src: url('../font/OpenSans-Regular.ttf');
}

body {
	font-family: opensans;
}
#interface {

	width:100%;
	height: 100%;
	max-width: 800px;
	background-color: #FFF;
	padding: 20px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 0px; 
	text-align: center;
	font-family: opensans;
	box-shadow: 0px 0px 10px #777, 0px 0px 30px rgba(0,0,0,0.4);
	border-radius: 10px;


}
.maindiv {
	vertical-align: middle;
	width:80%;
	margin-left: auto;
	margin-right: auto;
}
.slide {

	width:240px;
	height:30px;

	display: inline-block;
	border-radius: 20px;
	margin-left:50px;
	text-align: left;


}
.compteur {
	display: inline-block;
	background-color: #37F;
	border: 6px solid #6AF;
	border-radius: 20px;
	width:30px;
	height:30px;
	text-align: center;
	line-height: 28px;
	color:#FFF;
}
.cursor{

	cursor: pointer;
	color:#FFF;
	font-family: opensans;
		width:40px;
	height:40px;
	padding-top: 0px;
	border-radius: 10px;
	cursor: pointer;

}

.p {
	margin: 5px;
	color:#000;
	font-size: 20px;
	font-family: opensans;


}
#slide1 {
	background-color: #EAE;
	background: linear-gradient(to right, rgba(245,110,61,1) 0%, rgba(39,115,230,1) 100%);
}
#cursor1 {
}
#slide2 {
	background-color: #AAE;
	background: linear-gradient(to right, rgba(52,247,247,1) 0%, rgba(39,230,67,1) 100%);
}
#cursor2 {
}
#slide3 {
	background-color: #EAE;
	background: linear-gradient(to right, rgba(59,245,59,1) 0%, rgba(230,220,39,1) 100%);
}
#cursor3 {
}
#slide4 {
	background-color: #AEE;
	background: linear-gradient(to right, rgba(239,245,57,1) 0%, rgba(230,67,39,1) 100%);
}
#cursor4 {
}