
@font-face {
    font-family: 'opensans';
    src: url('font/OpenSans-Regular.ttf');
}

body {
	font-family: opensans;
}
#interface {

	width:400px;
	background-color: #EEE;
	padding: 20px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 200px; 
	text-align: center;
	font-family: opensans;


}
.slide {

	width:80%;
	height:40px;
	margin:10px;
	display: inline-block;


}
.cursor {

	width:20%;
	height:30px;
	padding-top: 10px;
	cursor: pointer;
	color:#FFF;
	font-family: opensans;
	font-size: 25px;
	text-align: center;
	vertical-align: middle;

	
	
}
.p {
	width:80%;
	padding: 1px;
	margin-left: auto;
	margin-right: auto;
	color:#000;
	font-size: 20px;
	display: inline-block;
	font-family: opensans;

}
#slide1 {
	background-color: #EAE;
}
#cursor1 {
	background-color: #0CF;
}
#slide2 {
	background-color: #AAE;
}
#cursor2 {
	background-color: #C0F;
}
#slide3 {
	background-color: #EAE;
}
#cursor3 {
	background-color: #F0C;
}
#slide4 {
	background-color: #AEE;
}
#cursor4 {
	background-color: #CF0;
}