
@font-face {
    font-family: 'opensans';
    src: url('font/OpenSans-Regular.ttf');
}

#interface {

	width:300px;
	background-color: #EEE;
	padding: 20px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 200px; 
	text-align: center;
	font-family: opensans;

}
.slide {

	width:80%;
	height:20px;
	

}
.cursor {

	width:20%;
	height:100%;
	cursor: pointer;
	
}
.p {
	width:80%;
	padding: 1px;
	margin-left: auto;
	margin-right: auto;
	color:#000;
	font-size: 18px;
}
#slide1 {
	background-color: #EAE;
}
#cursor1 {
	background-color: #0CF;
}
#slide2 {
	background-color: #AAE;
}
#cursor2 {
	background-color: #C0F;
}
#slide3 {
	background-color: #EAE;
}
#cursor3 {
	background-color: #F0C;
}
#slide4 {
	background-color: #AEE;
}
#cursor4 {
	background-color: #CF0;
}